In [1]:
print("hello world")

hello world

In [1]:
import turtle
turtle.pensize(2)
turtle.circle(10)
turtle.circle(20)
turtle.circle(30)

In [4]:
from datetime import datetime
now=datetime.now()
print(now)
now.strftime("%x")
now.strftime("%X")

2025-10-16 22:55:48.573465

'22:55:48'

In [5]:
print(range(10))

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a,b=0,1
while a <1000:
    print(a,end=',')
    a,b=b,a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [1]:
str1=input("请输入一个人的名字:")
str2=input("请输入一个国家的名字:")
print("世界那么大，{}想去{}看看。".format(str1,str2))

请输入一个人的名字: 张欣冉
请输入一个国家的名字: 中国

世界那么大，张欣冉想去中国看看。

In [5]:
str1=input("请输入一个人的姓名:")
str2=input("请输入一个国家的名称:")
print("{}想去{}看看。".format(str1,str2))

请输入一个人的姓名: zxr
请输入一个国家的名称: zxr

zxr想去zxr看看。

In [11]:
n=input("请输入一个整数:")
sum=0
for i in range(int(n)):
    sum+=i+1
print("1到n的求和结果:", sum)

请输入一个整数: 666

1到n的求和结果: 222111

In [13]:
n=input("请输入一个整数:")
sum=0
for i in range(int(n)):
    sum+=i+1
print("1到n的整数和:",sum)

请输入一个整数: 12

1到n的整数和: 78

In [3]:
n=input("请输入一个整数:")
sum=0
for i in range (int(10)):
    sum+=i+1
print("1到n的整数和:",sum)

请输入一个整数: 10

1到n的整数和: 55

In [9]:
for i in range (1,10):
    for j in range(1,i+1):
        print("{}*{}={:2}".format(j,i,i*j),end=' ')
    print(' ')

1*1= 1
1*2= 2 2*2= 4
1*3= 3 2*3= 6 3*3= 9
1*4= 4 2*4= 8 3*4=12 4*4=16
1*5= 5 2*5=10 3*5=15 4*5=20 5*5=25
1*6= 6 2*6=12 3*6=18 4*6=24 5*6=30 6*6=36
1*7= 7 2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49
1*8= 8 2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64
1*9= 9 2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [10]:
for i in range (10):
    for j in range (1,i+1):
        print("{}*{}={:2}".format(i,j,i*j),end=' ')
    print(' ')

1*1= 1
2*1= 2 2*2= 4
3*1= 3 3*2= 6 3*3= 9
4*1= 4 4*2= 8 4*3=12 4*4=16
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [1]:
sum,tmp=0,1
for i in range (1,11):
    tmp*=i
    sum+=tmp
print("运算结果是:",sum)

运算结果是: 4037913

In [2]:
n=1
for i in range (4,0,-1):
    n=n+1<<1
print(n)

46

In [3]:
diet=['西红柿', '花椰菜','黄瓜','牛排','虾仁']
for x in range (0,5):
    for y in range (0,5):
        if not (x==y):
            print("{}{}".format(diet[x],diet[y]))

西红柿花椰菜
西红柿黄瓜
西红柿牛排
西红柿虾仁
花椰菜西红柿
花椰菜黄瓜
花椰菜牛排
花椰菜虾仁
黄瓜西红柿
黄瓜花椰菜
黄瓜牛排
黄瓜虾仁
牛排西红柿
牛排花椰菜
牛排黄瓜
牛排虾仁
虾仁西红柿
虾仁花椰菜
虾仁黄瓜
虾仁牛排

In [3]:
print("hello world")

hello world

In [2]:
apple=tuple("abc")
print(apple)

('a', 'b', 'c')

In [4]:
apple=tuple("abc")
print("输出结果是:",apple)

输出结果是: ('a', 'b', 'c')

In [1]:
apple=tuple("abcd")
print(apple+tuple("efg"))

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [2]:
apple=tuple("xyz")
a,b,c=apple
print(a,b,c)

x y z

In [6]:
scientists={"Newton":1642,"darwen":1809,"turng":1912}
print("keys:",scientists.keys())
print('values:',scientists.values())
print('items:',scientists.items())
print('get:',scientists.get('curle',456123))

keys: dict_keys(['Newton', 'darwen', 'turng'])
values: dict_values([1642, 1809, 1912])
items: dict_items([('Newton', 1642), ('darwen', 1809), ('turng', 1912)])
get: 456123

In [7]:
temp={'curie':1867,'hoper':1960,'franklin':456}
scientists.update(temp)
print('after update:',scientists)

after update: {'Newton': 1642, 'darwen': 1809, 'turng': 1912, 'curie': 1867, 'hoper': 1960, 'franklin': 456}

In [ ]:
with open("D:/stp